name: Prettier Continuous Integration

# This action works with pull requests and pushes
on:
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # Checkout pull request HEAD commit instead of merge commit
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Prettify code
        uses: creyD/prettier_action@v4.0
        with:
          # This part is also where you can pass other options, for example:
          prettier_options: --write **/*.{js,md}
